{{/*
@param {bool} [copy=false] Whether to display a copy-to-clipboard button.
@param {string} [file] The file name to display above the rendered code.
@param {bool} [details=false] Whether to wrap the highlighted code block within a details element.
@param {bool} [trim=true] Whether to trim leading and trailing whitespace from the content of the code block.

@returns {template.HTML}

@examples

    ```go
    fmt.Println("Hello world!")
    ```

    ```go {linenos=true file="layouts/index.html" copy=true}
    fmt.Println("Hello world!")
    ```
*/}}

{{- $copy := true }}
{{- $file := or .Attributes.file "" }}
{{- $trim := true }}
{{- $ext := strings.TrimPrefix "." (path.Ext $file) }}

{{/* .Type comes from ```$lang */}}
{{- $lang := or .Type $ext "text" }}

{{- if in (slice "html" "gotmpl") $lang }}
  {{- $lang = "go-html-template" }}
{{- end }}
{{- if eq $lang "md" }}
  {{- $lang = "text" }}
{{- end }}

{{- if collections.IsSet .Attributes "copy" }}
  {{- if in (slice true "true" 1) .Attributes.copy }}
    {{- $copy = true }}
  {{- else if in (slice false "false" 0) .Attributes.copy }}
    {{- $copy = false }}
  {{- end }}
{{- end }}

{{- if collections.IsSet .Attributes "trim" }}
  {{- if in (slice true "true" 1) .Attributes.trim }}
    {{- $trim = true }}
  {{- else if in (slice false "false" 0) .Attributes.trim }}
    {{- $trim = false }}
  {{- end }}
{{- end }}

<div class="highlight_wrap">
  <div class="highlight_meta">
    {{- with $file }}
      <div class="highlight_title">
        {{ . }}
      </div>
    {{- end }}
    {{- if $copy}}
      <div class="highlight_copy">
          {{ partial "sprite" (dict "icon" "copy") }}
      </div>
    {{- end }}
  </div>

  <!-- {{ $result := transform.HighlightCodeBlock . }} -->
  <!-- {{ $result.Wrapped }} -->
  {{- $content := .Inner }}
  {{- if $trim }}
    {{- $content = strings.TrimSpace .Inner }}
  {{- end }}

  {{- transform.Highlight $content $lang .Options }}
</div>
