{{- $s := .Site.Params }}
{{- $p := .Params }}

<!DOCTYPE html>
<html lang="{{ .Lang }}" 
  data-figures="{{ $p.figurePositionShow }}"
  {{ if .IsPage }} 
    class="page"
  {{ end }}
  {{ with $s.enforceLightMode }} 
    data-mode="lit"
  {{ end }}
  {{ with $s.enforceDarkMode }} 
    data-mode="dim"
  {{ end }}>

  <head>
    {{- partial "head" . }}
  </head>
  <body id="documentTop">
    {{- partial "header" . }}
    <main>
      {{- block "main" . }}{{ end }}
    </main>
    {{- partial "icons" }}
    {{- partial "footer" . }}

    {{- $bundle := partialCached "func/getJavascriptBundle" . }}
    <script type="text/javascript" src="{{ $bundle.Permalink }}" integrity="{{ $bundle.Data.Integrity }}" crossorigin="anonymous"></script>
  </body>
</html>
