{{- define "main" }}
{{- $s := .Site.Params }}
{{- $p := .Params }}
{{- $scratch := newScratch }}
{{- if isset $p "image" }}
  {{- $scratch.Set "image" $p.image }}
{{- else }}
  {{ $scratch.Set "image" $s.fallBackOgImage }}
{{- end }}
{{- $image := $scratch.Get "image" }}
{{- $bg := absLangURL (path.Join "images" $image) }}

<div class="{{ if ne $p.singleColumn true }}grid-inverse {{ end }}wrap content">
  <article class="post_content h-entry">
    <header class="h-entry__header">
      {{- $t := .Title }}
      <h1 class="post_title p-name">{{ $t }}</h1>
      {{- partial "post-meta" . }}
    </header>
    
    {{ with $p.featureImage }}
      <figure class="h-entry__featured">
        <img src="{{ . }}" 
             class="image_featured u-featured" 
             alt="{{ $t }}"
             loading="lazy">
      </figure>
    {{ end }}

    {{ if $p.toc }}
      <nav class="toc" aria-label="Table of contents">
        <h2>{{ T "overview" }}</h2>
        {{ .TableOfContents }}
      </nav>
    {{ end }}

    <div class="e-content">
      {{- .Content }}
    </div>

    <!-- comments -->
    {{- if eq $s.comments false }}
      {{- partial "comments" . }}
    {{- end }}
    {{- partial "post-details" . }}
  </article>

  {{- if ( ne $p.sidebar false ) }}
    {{- partial "sidebar" . }}
  {{ end }}
</div>
{{- end }}
