<li class="post_item">
  <div class="excerpt">
    <article class="h-entry">
      <div class="excerpt_header">
        <h3 class="post_link">
          <a href="{{ .Permalink }}" title="{{ .Title }}" class="p-name u-url">{{ .Title  }}</a>
        </h3>
        {{ partial "post-list-meta" . }}
      </div>
      {{- with .Params.thumbnail }}
      <div class="excerpt_footer partition">
        <div class="excerpt_thumbnail">
          <img src='{{ if (hasPrefix . "http") }}{{ . }}{{ else }}{{ absURL . }}{{ end }}' alt="{{ $.Title }}">
          {{ if $.Params.thumbnail_byline }}
          <p class="img_alt">{{ $.Params.thumbnail_byline }}</p>
          {{ end }}
        </div>
        {{ else }}
        <div class="excerpt_footer">
          {{- end }}
          <div>
            <p class="pale p-summary">
              {{ if .Params.summary }}
                {{ .Params.summary }}
              {{ else if .Params.abstract }}
                {{ .Params.abstract }}
              {{ else if .Summary }}
                {{ truncate 320 .Summary }}
              {{ end }}
            </p>
            {{- $r := T "read_more" }}
            <a href="{{ .Permalink }}" title="{{ $r }}" class="excerpt_more button">{{ $r }}</a>
          </div>
        </div>
    </article>
    </div>
  </li>
