{{- $s := .Site.Params }}
{{- if or .Params.enableMathNotation $s.enableMathNotation }}
  {{ partial "math" . }}
{{- end }}

<footer class="footer" role="contentinfo">
  <div class="footer_head">
    {{ partial "indieweb-webring.html" . }}
  </div>
  <div class="footer_inner">
    <img src='{{ absURL (default "icons/apple-touch-icon.png" $s.footerLogo) }}' 
         class="icon icon_2 transparent" 
         alt="Site icon"
         loading="lazy">
    <p>
      <small>
        Copyright {{ $s.since }}-{{ now.Format "2006" }} {{upper .Site.Title }} All Rights Reserved
      </small>
    </p>
    {{- partial "top" .}}
  </div>
</footer>
