{{- $params := .Site.Params }}
{{ $logo := $params.logo }}
<header class="nav_header" role="banner">
  <nav class="nav" aria-label="Main navigation">
    {{- partialCached "logo" (dict "logo" $logo) }}
    <div id="nav_menu" class="nav_body nav_body_left">
      {{ $context := . }}
      {{ $menuData := .Site.Data.menu }}
      {{ with $menuData }}
        {{ partial "nav" (dict "context" $context "menu" $menuData) }}
      {{- else }}
        {{ partial "nav" (dict "context" . "menu" .Site.Menus.main) }}
      {{- end }}
      {{- partialCached "follow" . }}
    </div>
    <button type="button" class="nav_close" aria-label="Open menu" aria-expanded="false" aria-controls="nav_menu">
      {{ partial "sprite" (dict "icon" "open-menu") }}
      {{ partial "sprite" (dict "icon" "closeme") }}
    </button>
  </nav>
</header>
