{{- $menu := .menu }}
{{ $menuData := .context.Site.Data.menu }}
{{- $link := .context.Permalink }}
{{- $url := "" }}
{{- $name := "" }}
{{- $forwardSlash := "/" }}
<ul class="nav_list">
  {{- range $menu }}
    {{- if eq $menu $menuData }}
      {{- $name = .name }}
      {{- $url = absURL .link }}
    {{- else }}
      {{- $name = .Name }}
      {{- $url = absLangURL .URL }}
    {{- end }}
    <li class="nav_parent{{ if eq (trim $url $forwardSlash) (trim $link $forwardSlash) }} nav_active{{ end}}">
      <a href="{{ $url }}" class="nav_item" title="{{ $name }}">{{ $name }}</a>
    </li>
  {{- end }}
</ul>
