{{- $scratch := newScratch }}
<div class="post_meta">
  <!-- post date -->
  <span>{{ partial "sprite" (dict "icon" "calendar") }}</span>
  <span class="post_date dt-published">
    {{ .Date.Format ($.Site.Params.dateFormat) -}}
  </span>
  
  <!-- Author card; hidden -->
  <span class="p-author h-card">
    <a rel="author" class="p-name u-url" href="{{ .Site.BaseURL }}">Chris Zietlow</a>
    <img class="u-photo" src='{{ absURL "images/me.jpg" }}' alt="Chris Zietlow Profile Image">
  </span>

  <!-- read time -->
  <span class="post_time">&nbsp;| {{ .ReadingTime }} min read</span>

  <!-- share -->
  <span class="page_only">&nbsp;| {{ partial "share" . }}</span>
</div>

<div class="post_tags">
  {{- with .Params.tags -}}
    <span>
      {{- if ($scratch.Get "writeSeparator") }}&nbsp;| {{ end }}
      {{- range . }}
        {{- $tag := urlize . -}}
        <a href='{{ absLangURL (printf "tags/%s" $tag) }}' title="{{ . }}" class="post_tag button button_translucent">
          <span class="p-category">{{- . }}</span>
        </a>
      {{- end }}
    </span>
    {{- $scratch.Set "writeSeparator" true }}
  {{- end }}
</div>
