{{- $scratch := newScratch }}
<header class="post_meta h-entry__meta">
  <!-- post date -->
  <time class="post_date dt-published" datetime="{{ .Date.Format "2006-01-02T15:04:05Z07:00" }}">
    {{ partial "sprite" (dict "icon" "calendar") }}
    <span class="visually-hidden">Published on </span>
    {{ .Date.Format ($.Site.Params.dateFormat) }}
  </time>
  
  <!-- Author card -->
  <address class="p-author h-card">
    <a rel="author" class="p-name u-url" href="{{ .Site.BaseURL }}">
      <span class="visually-hidden">Author: </span>Chris Zietlow
    </a>
    <img class="u-photo" src='{{ absURL "images/me.jpg" }}' alt="Chris Zietlow Profile Image" loading="lazy">
  </address>

  <!-- read time -->
  <span class="post_time" aria-label="Estimated reading time">
    <span aria-hidden="true">&nbsp;|</span>
    <time datetime="PT{{ .ReadingTime }}M">{{ .ReadingTime }} min read</time>
  </span>

  <!-- share -->
  <nav class="page_only post_share" aria-label="Share this post">
    <span aria-hidden="true">&nbsp;|</span>
    {{ partial "share" . }}
  </nav>
</header>

<!-- Tags section -->
{{- with .Params.tags -}}
<nav class="post_tags" aria-label="Post tags">
  <ul class="tag-list">
    {{- range . }}
      {{- $tag := urlize . -}}
      <li>
        <a href='{{ absLangURL (printf "tags/%s" $tag) }}' 
           title="Posts tagged {{ . }}" 
           class="post_tag button button_translucent p-category"
           rel="tag">
          {{- . }}
        </a>
      </li>
    {{- end }}
  </ul>
</nav>
{{- end }}
