{{ $s := .Site.Params }}
<aside class="sidebar" role="complementary">
  <section class="sidebar_inner">
    {{ if .IsHome }}
      {{- partial "h-card" . }}
    {{ end }}
    {{- if $s.IntroDescription }}
      <h2>{{ $s.Author }}</h2>
      <div class="author_bio p-note">
        {{ markdownify $s.IntroDescription }}
      </div>
      {{- if ( ne $s.introURL false ) }}
      <a href='{{ absLangURL (default "about/" $s.introURL) }}' class="button mt-1" role="button" title="Read More">Read More</a>
      {{- end }}
    {{- end }}
    {{- $posts := where (where .Site.RegularPages "Permalink" "!=" .Permalink) "Type" "in" $s.mainSections }}
    {{- $featured := default 8 $s.numberOfFeaturedPosts }}
    {{- with first $featured (where $posts "Params.featured" true)}}
    <section>
      <h2>Featured Posts</h2>
      <nav aria-label="Featured posts">
        <ul>
          {{- range . }}
          <li>
            <a href="{{ .Permalink }}" 
               class="nav-link h-entry" 
               title="{{ .Title }}">
              <span class="p-name">{{ .Title }}</span>
            </a>
          </li>
          {{- end }}
        </ul>
      </nav>
    </section>
    {{- end }}
    <section>
      <h2 >Journal</h2>
      <nav aria-label="Weekly journal entries">
        <ul class="flex-column">
          {{- $journals := where .Site.RegularPages "Section" "notes" }}
          {{- range first 5 $journals }}
          <li>
            <a href="{{ .Permalink }}" 
               class="nav-link h-entry" 
               title="{{ .Title }}">
              <span class="p-name">{{ .Title }}</span>
            </a>
          </li>
          {{- end }}
        </ul>
      </nav>
    </section>
    <section>
      <h2 >Recent Posts</h2>
      <nav aria-label="Recent posts">
        <ul class="flex-column">
          {{- $recent := default 8 $s.numberOfRecentPosts }}
          {{- range first $recent $posts }}
          <li>
            <a href="{{ .Permalink }}" 
               class="nav-link h-entry" 
               title="{{ .Title }}">
              <span class="p-name">{{ .Title }}</span>
            </a>
          </li>
          {{- end }}
        </ul>
      </nav>
    </section>
    {{- $tagsLimit := 8 }}
    {{- range $key, $value := .Site.Taxonomies }}
      {{- if gt $value 0 }}
        <section>
          <h2 class="taxonomy" id="{{ $key }}-section">{{ $key }}</h2>
          <nav class="tags_nav" aria-label="{{ $key }}">
            <ul class="flex-column">
              {{- $slicedTags := ($value.ByCount | first $tagsLimit) }}
              {{- range $slicedTags }}
              <li>
                <a href='{{ absLangURL $key }}/{{ (replace .Name "#" "%23") | urlize }}/' class="post_tag button button_translucent" title="{{ .Name }}">
                  {{ upper .Name }}
                  <span class="button_tally">{{ .Count }}</span>
                </a>
              </li>
              {{ end }}
            </ul>
            {{ if gt (len $value.ByCount) $tagsLimit }}
              <br>
              <div class="post_tags_toggle button">{{ (printf "all %s" (lower $key)) }}</div>
            {{- end }}
          </nav>
        </section>
      {{- end }}
    {{- end }}
  </section>
</aside>
